<div>

    <toaster-container></toaster-container>  
    
    <ul id="nav-menu">
        <!-- <li><a ui-sref="overview">Overview</a></li> -->
        <li><a ui-sref="form">Create VideoResume</a></li>
        <li><a ui-sref="video-management">Manage your VideoResume</a></li>
    </ul>

    <div id="form-container">

        <div class="form-container-content">
            <h2 class="form-header">Create VideoResume</h2>
            
            <div id="status-buttons" class="text-center">
          <!--       <a ui-sref-active="active" ui-sref=".step1"><span>1</span> Provide description</a>
                <a ui-sref-active="active" ng-click="goStep2()"><span>2</span> Record VideoResume</a>
                <a ui-sref-active="active" ng-click="goStep3()"><span>3</span> Share Your VideoResume</a> -->
                <a><span>1</span> Provide description</a>
                <a><span>2</span> Record VideoResume</a>
                <a><span>3</span> Share Your VideoResume</a>
            </div>
        
        
            <form id="vresume-record-video-form">

                <div id="form-views" ui-view></div>
            </form>
        
        </div>

    </div>

</div>
