<div>

    <toaster-container></toaster-container>  

    <div id="form-container">

        <div class="form-container-content">
            <h2 class="form-header">Create VideoResume</h2>
            
            <div id="status-buttons" class="text-center">
                <a ui-sref-active="active" ui-sref=".step1"><span>1</span> Provide description</a>
                <a ui-sref-active="active" ng-click="goStep2()"><span>2</span> Record VideoResume</a>
                <a ui-sref-active="active" ng-click="goStep3()"><span>3</span> Share Your VideoResume</a>
            </div>
        
        
            <form id="vresume-record-video-form">

                <div id="form-views" ui-view></div>
            </form>
        
        </div>

    </div>

</div>
