
<!--   <i class="loading icon orange"></i>
<div class="video-processing-loader">
  <span>Processing video, please do not leave this page.</span>
</div> -->

<div>
  
  <section class="section-helper">
    <h2 class="ui header">
      <i class="pencil blue icon"></i>
      <div class="content">
        {{videoTitle}}
        <div class="sub header">Title serves as note or information of a video content you recording. Please be descriptive as possible.</div>
      </div>
    </h2>

    <h2 class="ui header">
      <i class="comment blue icon"></i>
      <div class="content">
        {{videoDescription}}
        <div class="sub header">Description usually contains keywords which helps improve visibility in search results.</div>
      </div>
    </h2>

    <h2 class="ui header">
      <i class="unordered list blue icon"></i>
      <div class="content">
        {{videoCategory}}
        <div class="sub header">Please choose one of the categories which describe Your video content best.</div>
      </div>
    </h2>
    
  </section>
  
  <section>
    <h2>Please fill required fields</h2>
    <input type="text" ng-model="videoTitle" placeholder="VideoResume Title">
    <input type="text" ng-model="videoDescription" placeholder="VideoResume Description">
    <select class="ui dropdown"
      ng-model="videoCategory" 
      ng-options="category.name as category.name for category in categories" class="ui dropdown">
      <option value="">Select category</option>
      <i class="sort descending blue icon"></i>
    </select>
  </section>
  
  <div class="perspective">
    <button class="btn-next" ng-click="goStep2()">Record VideoResume</button>
  </div>

  
</div>





