
<div>
  
  <section class="section-helper ng-scope">
    <h2 class="ui header">
      <i class="pencil blue icon"></i>
      <div class="content ng-binding">
        {{videoTitle}}
        <div class="sub header">Title serves as note or information of a video content you recording. Please be descriptive as possible.</div>
      </div>
    </h2>

    <h2 class="ui header">
      <i class="comment blue icon"></i>
      <div class="content ng-binding">
        {{videoDescription}}
        <div class="sub header">Description usually contains keywords which helps improve visibility in search results.</div>
      </div>
    </h2>

    <h2 class="ui header">
      <i class="unordered list blue icon"></i>
      <div class="content ng-binding">
        {{videoCategory}}
        <div class="sub header">Please choose one of the categories which describe Your video content best.</div>
      </div>
    </h2>
    
  </section>
  
  <section>
    <h2>Please fill required fields</h2>
    <input type="text" ng-model="videoTitle" placeholder="VideoResume Title">
    <input type="text" ng-model="videoDescription" placeholder="VideoResume Description">
    <select class="ui dropdown"
      ng-model="videoCategory" 
      ng-options="category.name as category.name for category in categories" class="ui dropdown">
      <option value="">Select category</option>
      <i class="sort descending blue icon"></i>
    </select>
  </section>
  
  <div class="perspective">
    <button class="btn-next" ng-click="submitStep1()">Record video</button>
  </div>

  
</div>





