
<div class="ui segment segment-centered search-box">
  <div class="ui vertical segment center">
    <h2>Search</h2>
  </div>
  <div class="ui vertical segment center">
    <div class="ui search">
    <div class="ui icon input">
        <input class="prompt" type="text" placeholder="e.g Marketing Berlin">
        <i class="search icon"></i>
      </div>
      <div class="results"></div>
    </div>
  </div>
  <div class="ui vertical segment center">
    <div class="ui buttons">
    <div class="ui button">Jobs</div>
    <div class="or" data-text="or"></div>
    <div class="ui positive button">Companies</div>
  </div>
  </div>
</div>
