<div>
    
    <ul ng-repeat="channel in channels">
      <li>{{channels}}</li>
    </ul>

  <button ng-click="login()">login</button>
  <button ng-click="logout()">logout</button>
  <button ng-click="isLogin()">isLogin</button>
  <button ng-click="saveUser()">Save User</button>
  <button ng-click="addDummy()">addDummy</button>
  <button ng-click="listChannels()">List Channels</button>
  <button ng-click="listVideos()">List Videos</button>
  <button ng-click="insertPlaylist()">Create VideoResume playlist</button>
  <button ng-click="deletePlaylist()">Delete VideoResume playlist</button>

</div>